footer {
  display: none;
  width: 100%;
  height: 300px;
  background: red;
  position: relative;
}

.site-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 20px;
}