.footer {
  background-color: #05132b; // Dark background
  padding: 20px 0;
  border-top: 2px solid #fcaf00;
  border-radius: 10px;
  z-index: 1;

  h5 {
    color: #fcaf00;
  }

  .list-unstyled {
    padding-left: 0;

    a {
      color: #fcaf00;
      text-decoration: none;

      &:hover {
        color: #fcaf00;
      }
    }
  }

  .social-media-links {
    a {
      color: #fcaf00;
      font-size: 24px;
      margin: 0 10px;
      text-decoration: none;

      &:hover {
        color: #fcaf00;
      }
    }
  }

  .logo-footer {
    max-width: 20px;
    margin-top: 20px;
  }
}
