header {
  background-color: $color-primary-dark;
  z-index: 1;
  border: 2px solid $color-secondary;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
  height: 80px;
  overflow: hidden;

  .schedule-button-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    button {
      border: none;
    }

    .schedule-button-container__button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      max-width: 80px;
      height: 76px;
      border-right: 2px solid $color-secondary;
      text-decoration: none;
      color: $color-secondary;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background: $color-primary-dark;

      &:hover {
        background: $color-secondary;
        color: $color-primary-dark;
        transition: background 0.3s ease, color 0.3s ease;
      }
    }

    .schedule-button-container__button:first-child {
      padding-left: 0px;
    }

    @media (max-width: 576px) {
      opacity: 0;
      font-size: 0.9rem;
      padding: 0 5px;

      .schedule-button-container__button:first-child {
        padding-left: 5px;
      }
    }
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;

    .logo-img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .logo-img {
        max-height: 76px;
        max-width: 300px;
      }
    }
  }

  .search-login-container {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    height: 76px;

    .search-login-container__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      max-width: 60px;
      min-width: 48px;
      border-left: 2px solid $color-secondary;

      button {
        border: none;
        background: transparent;
      }

      img {
        height: 40px;
        width: auto;
      }

      &:hover {
        background: $color-secondary;
        transition: background 0.3s ease;

        & img {
          filter: brightness(1.2) invert(1) saturate(0.1);
          transition: filter 0.3s ease;
        }
      }

      &:last-child {
        padding-right: 0px;
      }
    }
    @media (max-width: 576px) {
      .search-login-container__icon {
        min-width: 40px;
        img {
          height: 28px;
          width: auto;
        }
      }
    }
  }
}
