header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000f26;
  border: 2px solid #fcaf00;
  border-radius: 10px;
  z-index: 1;
}

.logo-container {
  align-self: center;
  margin: 0 auto;
  height: 100%;
} 

.schedule-button-container,
.search-login-container {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.schedule-button-container {
  left: 0;
}

.search-login-container {
  right: 0;
}